.form-banner img {
  width: 100%;
  height: 100%;
}
.login-form {
  width: 90%;
  height: 90%;
  margin-top: 2rem;
}
.login-form > div > input {
  width: 100%;
}

/* +++++++++++++++++
Navbar
+++++++++++++ */

.navbar ,.navbar-brand, .nav-link{
  background-color: black;
  color: aliceblue;
}
